* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #bc5bed;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logo {
  color: #1aa3a3;
}
/*name*/
.name{
    text-align: center;
    padding-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
    color: #fbaadf;
}

/* Hero section */
.hero {
  text-align: center;
  padding: 80px 20px;
}


.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero span {
  color: #1aa3a3;
}

.hero p {
  max-width: 650px;
  margin: auto;
  color: #555;
  line-height: 1.6;
}

/* Buttons */
.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 22px;
  margin: 8px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.green {
  background: #1aa3a3;
  color: white;
}

.orange {
  background: #ff7a18;
  color: white;
}

.white {
  background: white;
  border: 1px solid #ccc;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
  color: #1aa3a3;
}

.card p {
  font-size: 14px;
  color: #555;
}

.call{
    display: flex;
    justify-content: center;
    
}

.btn1 {
    padding: 60px 60px;
    border-radius: 1200px;
    background-color: rgb(196, 57, 32);
    border: #ccc;
    font-size: 30px;
}


